body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-gray;
    padding: 30px;
}

.heading-primary {
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 6rem;
  
    backface-visibility: hidden;
  
    &--main {
      display: block;
      font-size: 6rem;
      letter-spacing: 3.5rem;
      font-weight: 400;
      animation: moveInLeft 1s ease-out;
    }
  
    &--sub {
      display: block;
      font-size: 2rem;
      letter-spacing: 1.74rem;
      font-weight: 700;
      animation: moveInRight 1s ease-out;
    }
  }